/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  font-family: 'Lato';
}

.table-main {
  margin-top: 10px;
  width: 100%;
  font-size: 18px;
}

.table-main td, .table-main th {
  border: 1px solid #ddd;
  padding: 5px 5px;
}

.table-main tr th {
  background: #0373b5;
  color: white;
  font-weight: normal;
}

.table-main tr:nth-child(even){background-color: #daecf6;}

.table-main tr:nth-child(odd){background-color: white;}

.table-main th {
  padding-top: 3px;
  padding-bottom: 3px;
  text-align: left;
}
.table-main td {
  text-align: left;
}

.carousel-control-prev, .carousel-control-next {
  width: 10px;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 1px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  color: black;
  left: 5% !important;
  width: 100%;
  padding-top: 0px !important;
  padding-left: 0px;
  padding-right: 0px;
  position: static !important;
}

.carousel-indicators li { visibility: hidden; }

.container-fluid {
  /* display: block; */
  
}
.leftcol {
  background-color: beige;
  height: 100vh;
}
.rightcol {
  background-color: #f8f8f8;
  height: 100vh;
}
.lefttop {
  height: 50vh;
  padding-right: 0px !important;
  padding-left: 0px !important;
}
.leftbottom {
  height: 50vh;
  background-color:white;
  padding-right: 0px !important;
  padding-left: 0px !important;
}
.leftbottom img {
  object-fit: scale-down;
  width: 100vh;
  height: 50vh;
}
